body{
    /* background-image: url('');
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(To right,white,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dive{
    background-image: url(
        ''
    );
    /* background: greenyellow; */
    font-size: 20px;
}

p{
    /* background-color: red; */
    font-size: 100px;
    /* font-size: xx-large; */

}